[submodule "PythonUtils"]
	path = autotest/tests/PythonUtils
	url = git@github.com:pasccom/PythonUtils.git
[submodule "GenTest"]
	path = unittest/GenTest
	url = https://github.com/pasccom/gentest.git
